In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes
!pip install geocoder
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
import geocoder # to get coordinates

import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML and XML documents

from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!pip install folium
import folium # map rendering library

print("Libraries imported.")

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    openssl-1.1.1d             |       h516909a_0         2.1 MB  conda-forge
    ca-certificates-2019.11.28 |       hecc5488_0         145 KB  conda-forge
    geopy-1.21.0               |             py_0          58 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.50-py_0         conda-forge
    geopy:           1.21.0-py_0       conda-forge

The following packages will be UPDATED:

    ca-certificates: 2019.11.27-0                  --> 2019.11.28-hecc5488_0 conda-forge
    certifi:         2019.11.28-py36_0             --> 2019.11.28-py36_0     conda-forge

The following packages will be DOWNGRADED:

    openssl:         1.1.1d-h7b6447c_3             --> 1.1.1d-h516909a_0     conda-forge


Downloading and Extracting Packages
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
openssl-1.1.1d       | 2.1 MB    | ##################################### | 100%
ca-certificates-2019 | 145 KB    | ##################################### | 100%
geopy-1.21.0         | 58 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 6.2MB/s ta 0:00:011
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (1.12.0)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (2.21.0)
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: future in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (0.17.1)
Requirement already satisfied: click in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (7.0)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: decorator in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ratelim->geocoder) (4.3.2)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6
Collecting folium
  Downloading https://files.pythonhosted.org/packages/fd/a0/ccb3094026649cda4acd55bf2c3822bb8c277eb11446d13d384e5be35257/folium-0.10.1-py2.py3-none-any.whl (91kB)
     |████████████████████████████████| 92kB 7.1MB/s eta 0:00:011
Collecting branca>=0.3.0 (from folium)
  Downloading https://files.pythonhosted.org/packages/81/6d/31c83485189a2521a75b4130f1fee5364f772a0375f81afff619004e5237/branca-0.4.0-py3-none-any.whl
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.10)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.21.0)
Requirement already satisfied: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (1.15.4)
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from branca>=0.3.0->folium) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from jinja2>=2.9->folium) (1.1.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2.8)
Installing collected packages: branca, folium
Successfully installed branca-0.4.0 folium-0.10.1
Libraries imported.

In [10]:
# initialize list of lists 
cities = [['Dunwoody', 'GA'], ['Sandy Springs', 'GA'], ['Roswell','GA'],['Woodstock','GA'],['Norcross','GA'],['Suwanee','GA'],['Alpharetta','GA'],['Marietta','GA'],['Duluth','GA']] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(cities, columns = ['City', 'State']) 
  
# print dataframe. 
df

            City State
0       Dunwoody    GA
1  Sandy Springs    GA
2        Roswell    GA
3      Woodstock    GA
4       Norcross    GA
5        Suwanee    GA
6     Alpharetta    GA
7       Marietta    GA
8         Duluth    GA

In [11]:
# define a function to get coordinates
def get_latlng(neighborhood):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, GA'.format(neighborhood))
        lat_lng_coords = g.latlng
    return lat_lng_coords

In [12]:
# call the function to get the coordinates, store in a new list using list comprehension
coords = [ get_latlng(neighborhood) for neighborhood in df["City"].tolist() ]

In [13]:
coords

[[33.92620000000005, -84.33617999999996],
 [33.92483000000004, -84.37907999999999],
 [34.021660000000054, -84.35929999999996],
 [34.102910000000065, -84.51874999999995],
 [33.942810000000065, -84.21094999999997],
 [34.05746000000005, -84.06474999999995],
 [34.07540000000006, -84.29454999999996],
 [33.95319000000006, -84.54587999999995],
 [34.003630000000044, -84.14536999999996]]

In [14]:
# create temporary dataframe to populate the coordinates into Latitude and Longitude
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])

In [15]:
# merge the coordinates into the original dataframe
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']

In [16]:
# check the neighborhoods and the coordinates
print(df.shape)
df

(9, 4)

            City State  Latitude  Longitude
0       Dunwoody    GA  33.92620  -84.33618
1  Sandy Springs    GA  33.92483  -84.37908
2        Roswell    GA  34.02166  -84.35930
3      Woodstock    GA  34.10291  -84.51875
4       Norcross    GA  33.94281  -84.21095
5        Suwanee    GA  34.05746  -84.06475
6     Alpharetta    GA  34.07540  -84.29455
7       Marietta    GA  33.95319  -84.54588
8         Duluth    GA  34.00363  -84.14537

In [17]:
# get the coordinates of Roswell, GA
address = 'Roswell, GA'

geolocator = Nominatim(user_agent="my-application")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Roswell, GA {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Roswell, GA 34.02332, -84.360022.

In [18]:
# create map of Atlanta Cities using Roswell latitude and longitude values as the center
map_atl = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, neighborhood in zip(df['Latitude'], df['Longitude'], df['City']):
    label = '{}'.format(neighborhood)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7).add_to(map_atl)  
    
map_atl

In [19]:
# define Foursquare Credentials and Version
CLIENT_ID = 'MKIX5GO0RCMABWJ2HYMBTLBHAMHSPZLQTVSXOEH24SA5BHG4' # your Foursquare ID
CLIENT_SECRET = 'GNFV4N01EC4LK2EJEMVD25J2UNKCR3COGSBNZ4LWO30JFLVX' # your Foursquare Secret
VERSION = '20180602' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: MKIX5GO0RCMABWJ2HYMBTLBHAMHSPZLQTVSXOEH24SA5BHG4
CLIENT_SECRET:GNFV4N01EC4LK2EJEMVD25J2UNKCR3COGSBNZ4LWO30JFLVX

In [59]:
radius = 2000
LIMIT = 100
CATEGORYID = '4d4b7105d754a06374d81259'

venues = []

for lat, long, neighborhood in zip(df['Latitude'], df['Longitude'], df['City']):
    
    # create the API request URL
    url = "https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}&categoryId=4d4b7105d754a06374d81259".format(
        CLIENT_ID,
        CLIENT_SECRET,
        VERSION,
        lat,
        long,
        radius, 
        LIMIT,
        CATEGORYID
    )
    
    # make the GET request
    results = requests.get(url).json()["response"]['groups'][0]['items']
    
    # return only relevant information for each nearby venue
    for venue in results:
        venues.append((
            neighborhood,
            lat, 
            long, 
            venue['venue']['name'], 
            venue['venue']['location']['lat'], 
            venue['venue']['location']['lng'],  
            venue['venue']['categories'][0]['name']))

In [60]:
# convert the venues list into a new DataFrame
venues_df = pd.DataFrame(venues)

# define the column names
venues_df.columns = ['City', 'Latitude', 'Longitude', 'VenueName', 'VenueLatitude', 'VenueLongitude', 'VenueCategory']

print(venues_df.shape)
venues_df.head(50)

(525, 7)

,City,Latitude,Longitude,VenueName,VenueLatitude,VenueLongitude,VenueCategory
0,Dunwoody,33.9262,-84.33618,Alon's Bakery & Market,33.924560,-84.336402,Bakery
1,Dunwoody,33.9262,-84.33618,The Capital Grille,33.926564,-84.340573,American Restaurant
2,Dunwoody,33.9262,-84.33618,Seasons 52,33.926519,-84.339795,New American Restaurant
3,Dunwoody,33.9262,-84.33618,McKendrick's Steak House,33.925110,-84.335980,Steakhouse
4,Dunwoody,33.9262,-84.33618,Eclipse di Luna,33.924995,-84.335298,Tapas Restaurant
5,Dunwoody,33.9262,-84.33618,Fogo de Chão,33.930973,-84.337048,Steakhouse
6,Dunwoody,33.9262,-84.33618,Corner Bakery Cafe,33.927961,-84.336716,Bakery
7,Dunwoody,33.9262,-84.33618,California Pizza Kitchen at Perimeter,33.928364,-84.337520,Pizza Place
8,Dunwoody,33.9262,-84.33618,Maggiano's Little Italy,33.923520,-84.340550,Italian Restaurant
9,Dunwoody,33.9262,-84.33618,Cafe Intermezzo,33.925109,-84.335703,Café
10,Dunwoody,33.9262,-84.33618,J. Alexander's,33.932081,-84.336983,American Restaurant
11,Dunwoody,33.9262,-84.33618,Newk's Eatery,33.919759,-84.341297,Sandwich Place
12,Dunwoody,33.9262,-84.33618,Jason's Deli,33.932374,-84.335317,Deli / Bodega
13,Dunwoody,33.9262,-84.33618,Krispy Kreme,33.923796,-84.340974,Donut Shop
14,Dunwoody,33.9262,-84.33618,Another Broken Egg Cafe,33.933166,-84.336249,Breakfast Spot
15,Dunwoody,33.9262,-84.33618,Zinburger Wine & Burger Bar,33.927478,-84.336778,Burger Joint
16,Dunwoody,33.9262,-84.33618,Chipotle Mexican Grill,33.927966,-84.344210,Mexican Restaurant
17,Dunwoody,33.9262,-84.33618,Nancy's Pizzeria - Perimeter Dunwoody,33.932082,-84.335558,Pizza Place
18,Dunwoody,33.9262,-84.33618,Panera Bread,33.923785,-84.340987,Bakery
19,Dunwoody,33.9262,-84.33618,Taki Japanese Steakhouse,33.931432,-84.332551,Sushi Restaurant
20,Dunwoody,33.9262,-84.33618,Hobnob,33.929075,-84.344806,American Restaurant
21,Dunwoody,33.9262,-84.33618,Chick-fil-A,33.920977,-84.341555,Fast Food Restaurant
22,Dunwoody,33.9262,-84.33618,Tin Lizzy's Cantina,33.927545,-84.342975,Taco Place
23,Dunwoody,33.9262,-84.33618,Fleming's Prime Steakhouse & Wine Bar,33.928088,-84.343477,Steakhouse
24,Dunwoody,33.9262,-84.33618,Chuy's,33.925755,-84.344159,Mexican Restaurant
25,Dunwoody,33.9262,-84.33618,Panera Bread,33.929455,-84.343066,Bakery
26,Dunwoody,33.9262,-84.33618,Your Pie,33.927853,-84.343974,Pizza Place
27,Dunwoody,33.9262,-84.33618,Joey D's Oak Room,33.929430,-84.346020,American Restaurant
28,Dunwoody,33.9262,-84.33618,Viceroy,33.931888,-84.332832,Indian Restaurant
29,Dunwoody,33.9262,-84.33618,la Madeleine French Bakery & Café Perimeter,33.929446,-84.347979,French Restaurant
30,Dunwoody,33.9262,-84.33618,Zoës Kitchen,33.929426,-84.347318,Mediterranean Restaurant
31,Dunwoody,33.9262,-84.33618,Pita by the Beirut Dunwoody,33.932310,-84.335105,Mediterranean Restaurant
32,Dunwoody,33.9262,-84.33618,Sweet Tuna,33.929104,-84.343107,Hawaiian Restaurant
33,Dunwoody,33.9262,-84.33618,Tin Drum Asian Kitchen - Perimeter Place,33.929378,-84.343649,Asian Restaurant
34,Dunwoody,33.9262,-84.33618,Memphis BBQ Co.,33.934038,-84.338160,BBQ Joint
35,Dunwoody,33.9262,-84.33618,P.F. Chang's,33.932843,-84.339273,Chinese Restaurant
36,Dunwoody,33.9262,-84.33618,Sage Woodfire Tavern Perimeter,33.924854,-84.336046,American Restaurant
37,Dunwoody,33.9262,-84.33618,Del Frisco's Double Eagle Steakhouse,33.920243,-84.345121,Steakhouse
38,Dunwoody,33.9262,-84.33618,Which Wich? Superior Sandwiches,33.928991,-84.343170,Sandwich Place
39,Dunwoody,33.9262,-84.33618,Shane's Rib Shack,33.928013,-84.343854,BBQ Joint
40,Dunwoody,33.9262,-84.33618,Cinco Mexican Cantina,33.923140,-84.339689,Mexican Restaurant
41,Dunwoody,33.9262,-84.33618,Farmer's Basket,33.923947,-84.340953,American Restaurant
42,Dunwoody,33.9262,-84.33618,Olive Garden,33.933291,-84.337075,Italian Restaurant
43,Dunwoody,33.9262,-84.33618,Chick-fil-A,33.934046,-84.350010,Fast Food Restaurant
44,Dunwoody,33.9262,-84.33618,WOW! Food Truck,33.918796,-84.349848,Food Truck
45,Dunwoody,33.9262,-84.33618,Willy's Mexicana Grill,33.919864,-84.352157,Burrito Place
46,Dunwoody,33.9262,-84.33618,Wild Wing Cafe,33.935564,-84.338445,Wings Joint
47,Dunwoody,33.9262,-84.33618,Farm Burger,33.922744,-84.315168,Burger Joint
48,Dunwoody,33.9262,-84.33618,Sweet Tomatoes,33.927997,-84.352710,Buffet
49,Dunwoody,33.9262,-84.33618,Chick-fil-A,33.920988,-84.341591,Fast Food Restaurant

In [92]:
venues_subcount= venues_df.groupby(["City","VenueCategory"]).count()
venues_subcount.head(40)

                                      Latitude  Longitude  VenueName  \
City       VenueCategory
Alpharetta American Restaurant               6          6          6
           BBQ Joint                         1          1          1
           Bagel Shop                        3          3          3
           Breakfast Spot                    2          2          2
           Burger Joint                      2          2          2
           Café                              2          2          2
           Cajun / Creole Restaurant         1          1          1
           Deli / Bodega                     3          3          3
           Donut Shop                        1          1          1
           Falafel Restaurant                1          1          1
           Fast Food Restaurant              4          4          4
           Food                              1          1          1
           Food Truck                        1          1          1
           French Restaurant                 1          1          1
           Fried Chicken Joint               1          1          1
           Gastropub                         1          1          1
           German Restaurant                 1          1          1
           Greek Restaurant                  1          1          1
           Indian Restaurant                 3          3          3
           Italian Restaurant                3          3          3
           Japanese Restaurant               3          3          3
           Mediterranean Restaurant          1          1          1
           Mexican Restaurant                4          4          4
           Middle Eastern Restaurant         1          1          1
           New American Restaurant           6          6          6
           North Indian Restaurant           1          1          1
           Pizza Place                       6          6          6
           Poke Place                        1          1          1
           Restaurant                        3          3          3
           Salad Place                       1          1          1
           Sandwich Place                    2          2          2
           Seafood Restaurant                1          1          1
           Steakhouse                        2          2          2
           Sushi Restaurant                  1          1          1
           Taco Place                        3          3          3
           Tapas Restaurant                  1          1          1
           Tex-Mex Restaurant                1          1          1
           Thai Restaurant                   1          1          1
           Vietnamese Restaurant             1          1          1
Duluth     American Restaurant               1          1          1

                                      VenueLatitude  VenueLongitude
City       VenueCategory
Alpharetta American Restaurant                    6               6
           BBQ Joint                              1               1
           Bagel Shop                             3               3
           Breakfast Spot                         2               2
           Burger Joint                           2               2
           Café                                   2               2
           Cajun / Creole Restaurant              1               1
           Deli / Bodega                          3               3
           Donut Shop                             1               1
           Falafel Restaurant                     1               1
           Fast Food Restaurant                   4               4
           Food                                   1               1
           Food Truck                             1               1
           French Restaurant                      1               1
           Fried Chicken Joint                    1               1
           Gastropub                              1               1
           German Restaurant                      1               1
           Greek Restaurant                       1               1
           Indian Restaurant                      3               3
           Italian Restaurant                     3               3
           Japanese Restaurant                    3               3
           Mediterranean Restaurant               1               1
           Mexican Restaurant                     4               4
           Middle Eastern Restaurant              1               1
           New American Restaurant                6               6
           North Indian Restaurant                1               1
           Pizza Place                            6               6
           Poke Place                             1               1
           Restaurant                             3               3
           Salad Place                            1               1
           Sandwich Place                         2               2
           Seafood Restaurant                     1               1
           Steakhouse                             2               2
           Sushi Restaurant                       1               1
           Taco Place                             3               3
           Tapas Restaurant                       1               1
           Tex-Mex Restaurant                     1               1
           Thai Restaurant                        1               1
           Vietnamese Restaurant                  1               1
Duluth     American Restaurant                    1               1

In [99]:
venues_sum= venues_subcount.groupby(['City']).count()
venues_sum.head(20)

                                      Latitude  Longitude  VenueName  \
City       VenueCategory
Alpharetta American Restaurant               1          1          1
           BBQ Joint                         1          1          1
           Bagel Shop                        1          1          1
           Breakfast Spot                    1          1          1
           Burger Joint                      1          1          1
           Café                              1          1          1
           Cajun / Creole Restaurant         1          1          1
           Deli / Bodega                     1          1          1
           Donut Shop                        1          1          1
           Falafel Restaurant                1          1          1
           Fast Food Restaurant              1          1          1
           Food                              1          1          1
           Food Truck                        1          1          1
           French Restaurant                 1          1          1
           Fried Chicken Joint               1          1          1
           Gastropub                         1          1          1
           German Restaurant                 1          1          1
           Greek Restaurant                  1          1          1
           Indian Restaurant                 1          1          1
           Italian Restaurant                1          1          1

                                      VenueLatitude  VenueLongitude
City       VenueCategory
Alpharetta American Restaurant                    1               1
           BBQ Joint                              1               1
           Bagel Shop                             1               1
           Breakfast Spot                         1               1
           Burger Joint                           1               1
           Café                                   1               1
           Cajun / Creole Restaurant              1               1
           Deli / Bodega                          1               1
           Donut Shop                             1               1
           Falafel Restaurant                     1               1
           Fast Food Restaurant                   1               1
           Food                                   1               1
           Food Truck                             1               1
           French Restaurant                      1               1
           Fried Chicken Joint                    1               1
           Gastropub                              1               1
           German Restaurant                      1               1
           Greek Restaurant                       1               1
           Indian Restaurant                      1               1
           Italian Restaurant                     1               1

In [90]:
pd.merge(venues_subcount, venues_sum, on='City', how='outer')

TypeError: Can only merge Series or DataFrame objects, a <class 'pandas.core.groupby.generic.DataFrameGroupBy'> was passed

In [68]:
# install wordcloud
!conda install -c conda-forge wordcloud==1.4.1 --yes

# import package and its set of stopwords
from wordcloud import WordCloud, STOPWORDS

print ('Wordcloud is installed and imported!')

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - wordcloud==1.4.1


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    wordcloud-1.4.1            |           py36_0         324 KB  conda-forge

The following NEW packages will be INSTALLED:

    wordcloud: 1.4.1-py36_0 conda-forge


Downloading and Extracting Packages
wordcloud-1.4.1      | 324 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Wordcloud is installed and imported!

In [ ]:
# display the cloud
fig = plt.figure()
fig.set_figwidth(14)
fig.set_figheight(18)

plt.imshow(wordcloud, interpolation='bilinear')
plt.axis('off')
plt.show()

In [67]:
print('There are {} uniques categories.'.format(len(venues_df['VenueCategory'].unique())))

There are 67 uniques categories.

In [27]:
# print out the list of categories
venues_df['VenueCategory'].unique()[:75]

array(['Bakery', 'American Restaurant', 'New American Restaurant',
       'Steakhouse', 'Tapas Restaurant', 'Italian Restaurant',
       'Pizza Place', 'Café', 'Sandwich Place', 'Deli / Bodega',
       'Breakfast Spot', 'Mexican Restaurant', 'Donut Shop',
       'Sushi Restaurant', 'Fast Food Restaurant', 'Taco Place',
       'Burger Joint', 'French Restaurant', 'Mediterranean Restaurant',
       'Indian Restaurant', 'Asian Restaurant', 'Hawaiian Restaurant',
       'BBQ Joint', 'Chinese Restaurant', 'Burrito Place', 'Food Truck',
       'Buffet', 'Food Court', 'Bagel Shop', 'Middle Eastern Restaurant',
       'Wings Joint', 'Korean Restaurant', 'Greek Restaurant',
       'Thai Restaurant', 'Tex-Mex Restaurant', 'Vietnamese Restaurant',
       'Restaurant', 'Cafeteria', 'Ramen Restaurant', 'Noodle House',
       'Vegetarian / Vegan Restaurant', 'Latin American Restaurant',
       'Hot Dog Joint', 'Caribbean Restaurant', 'Japanese Restaurant',
       'Fried Chicken Joint', 'Food', 'Salad Place',
       'Cajun / Creole Restaurant', 'Diner', 'Cuban Restaurant',
       'Seafood Restaurant', 'Southern / Soul Food Restaurant',
       'Gastropub', 'Venezuelan Restaurant', 'Irish Pub', 'Snack Place',
       'Comfort Food Restaurant', 'Arepa Restaurant',
       'Empanada Restaurant', 'South American Restaurant', 'Poke Place',
       'Brazilian Restaurant', 'South Indian Restaurant', 'Food Stand',
       'Eastern European Restaurant', 'North Indian Restaurant',
       'German Restaurant', 'Chaat Place', 'Halal Restaurant',
       'Mac & Cheese Joint'], dtype=object)

In [28]:
# one hot encoding
atl_onehot = pd.get_dummies(venues_df[['VenueCategory']], prefix="", prefix_sep="")

# add City column back to dataframe
atl_onehot['Cities'] = venues_df['City'] 

# move City column to the first column
fixed_columns = [atl_onehot.columns[-1]] + list(atl_onehot.columns[:-1])
atl_onehot = atl_onehot[fixed_columns]

print(atl_onehot.shape)
atl_onehot.head(20)

(861, 72)

,Cities,American Restaurant,Arepa Restaurant,Asian Restaurant,BBQ Joint,Bagel Shop,Bakery,Brazilian Restaurant,Breakfast Spot,Buffet,Burger Joint,Burrito Place,Cafeteria,Café,Cajun / Creole Restaurant,Caribbean Restaurant,Chaat Place,Chinese Restaurant,Comfort Food Restaurant,Cuban Restaurant,Deli / Bodega,Diner,Donut Shop,Eastern European Restaurant,Empanada Restaurant,Fast Food Restaurant,Food,Food Court,Food Stand,Food Truck,French Restaurant,Fried Chicken Joint,Gastropub,German Restaurant,Greek Restaurant,Halal Restaurant,Hawaiian Restaurant,Hot Dog Joint,Indian Restaurant,Irish Pub,Italian Restaurant,Japanese Restaurant,Korean Restaurant,Latin American Restaurant,Mac & Cheese Joint,Mediterranean Restaurant,Mexican Restaurant,Middle Eastern Restaurant,New American Restaurant,Noodle House,North Indian Restaurant,Pizza Place,Poke Place,Ramen Restaurant,Restaurant,Salad Place,Sandwich Place,Seafood Restaurant,Snack Place,South American Restaurant,South Indian Restaurant,Southern / Soul Food Restaurant,Steakhouse,Sushi Restaurant,Taco Place,Tapas Restaurant,Tex-Mex Restaurant,Thai Restaurant,Vegetarian / Vegan Restaurant,Venezuelan Restaurant,Vietnamese Restaurant,Wings Joint
0,Dunwoody,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Dunwoody,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Dunwoody,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Dunwoody,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,Dunwoody,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
5,Dunwoody,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
6,Dunwoody,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,Dunwoody,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,Dunwoody,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,Dunwoody,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,Dunwoody,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,Dunwoody,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,Dunwoody,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,Dunwoody,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,Dunwoody,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,Dunwoody,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
16,Dunwoody,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17,Dunwoody,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,Dunwoody,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
19,Dunwoody,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [29]:
atl_grouped = atl_onehot.groupby(["Cities"]).mean().reset_index()

print(atl_grouped.shape)
atl_grouped

(9, 72)

,Cities,American Restaurant,Arepa Restaurant,Asian Restaurant,BBQ Joint,Bagel Shop,Bakery,Brazilian Restaurant,Breakfast Spot,Buffet,Burger Joint,Burrito Place,Cafeteria,Café,Cajun / Creole Restaurant,Caribbean Restaurant,Chaat Place,Chinese Restaurant,Comfort Food Restaurant,Cuban Restaurant,Deli / Bodega,Diner,Donut Shop,Eastern European Restaurant,Empanada Restaurant,Fast Food Restaurant,Food,Food Court,Food Stand,Food Truck,French Restaurant,Fried Chicken Joint,Gastropub,German Restaurant,Greek Restaurant,Halal Restaurant,Hawaiian Restaurant,Hot Dog Joint,Indian Restaurant,Irish Pub,Italian Restaurant,Japanese Restaurant,Korean Restaurant,Latin American Restaurant,Mac & Cheese Joint,Mediterranean Restaurant,Mexican Restaurant,Middle Eastern Restaurant,New American Restaurant,Noodle House,North Indian Restaurant,Pizza Place,Poke Place,Ramen Restaurant,Restaurant,Salad Place,Sandwich Place,Seafood Restaurant,Snack Place,South American Restaurant,South Indian Restaurant,Southern / Soul Food Restaurant,Steakhouse,Sushi Restaurant,Taco Place,Tapas Restaurant,Tex-Mex Restaurant,Thai Restaurant,Vegetarian / Vegan Restaurant,Venezuelan Restaurant,Vietnamese Restaurant,Wings Joint
0,Alpharetta,0.070000,0.00,0.020000,0.010000,0.02,0.020000,0.00,0.050000,0.01,0.040000,0.00,0.000000,0.030000,0.010000,0.000000,0.000000,0.010000,0.00,0.01,0.040000,0.000000,0.020000,0.000000,0.00,0.070000,0.000000,0.020000,0.000000,0.010000,0.01,0.010000,0.010000,0.000000,0.020000,0.000000,0.00,0.000000,0.010000,0.000000,0.040000,0.020000,0.010000,0.00,0.000000,0.030000,0.070000,0.01,0.070000,0.00,0.01,0.030000,0.000000,0.00,0.020000,0.00,0.020000,0.000000,0.010000,0.00,0.00,0.010000,0.020000,0.010000,0.030000,0.01,0.010000,0.030000,0.00,0.000000,0.010000,0.010000
1,Duluth,0.031915,0.00,0.031915,0.010638,0.00,0.021277,0.00,0.042553,0.00,0.000000,0.00,0.010638,0.031915,0.010638,0.000000,0.010638,0.095745,0.00,0.00,0.000000,0.010638,0.031915,0.000000,0.00,0.053191,0.010638,0.000000,0.000000,0.021277,0.00,0.010638,0.000000,0.010638,0.010638,0.010638,0.00,0.010638,0.031915,0.000000,0.010638,0.010638,0.063830,0.00,0.010638,0.010638,0.053191,0.00,0.000000,0.00,0.00,0.095745,0.000000,0.00,0.063830,0.00,0.053191,0.010638,0.000000,0.00,0.00,0.021277,0.010638,0.031915,0.010638,0.00,0.000000,0.021277,0.00,0.000000,0.010638,0.000000
2,Dunwoody,0.100000,0.00,0.020000,0.020000,0.01,0.050000,0.00,0.050000,0.01,0.030000,0.02,0.010000,0.030000,0.000000,0.000000,0.000000,0.020000,0.00,0.00,0.060000,0.000000,0.020000,0.000000,0.00,0.020000,0.000000,0.010000,0.000000,0.020000,0.01,0.000000,0.000000,0.000000,0.010000,0.000000,0.01,0.000000,0.030000,0.000000,0.050000,0.000000,0.010000,0.00,0.000000,0.020000,0.040000,0.01,0.020000,0.00,0.00,0.080000,0.000000,0.00,0.010000,0.00,0.040000,0.000000,0.000000,0.00,0.00,0.000000,0.040000,0.020000,0.010000,0.02,0.010000,0.020000,0.00,0.000000,0.010000,0.030000
3,Marietta,0.060000,0.00,0.010000,0.050000,0.00,0.060000,0.00,0.030000,0.00,0.020000,0.01,0.000000,0.030000,0.000000,0.010000,0.000000,0.020000,0.00,0.00,0.040000,0.010000,0.030000,0.000000,0.00,0.070000,0.020000,0.010000,0.000000,0.000000,0.03,0.050000,0.000000,0.000000,0.010000,0.000000,0.00,0.020000,0.000000,0.010000,0.010000,0.000000,0.010000,0.02,0.000000,0.000000,0.050000,0.00,0.000000,0.00,0.00,0.050000,0.000000,0.00,0.040000,0.00,0.110000,0.020000,0.000000,0.01,0.00,0.030000,0.000000,0.000000,0.010000,0.00,0.000000,0.010000,0.00,0.000000,0.000000,0.030000
4,Norcross,0.070000,0.01,0.020000,0.020000,0.00,0.030000,0.01,0.060000,0.00,0.010000,0.00,0.000000,0.020000,0.000000,0.010000,0.000000,0.030000,0.02,0.01,0.010000,0.000000,0.030000,0.000000,0.01,0.080000,0.010000,0.000000,0.000000,0.000000,0.00,0.020000,0.010000,0.000000,0.000000,0.000000,0.01,0.010000,0.010000,0.000000,0.010000,0.030000,0.000000,0.01,0.000000,0.020000,0.100000,0.00,0.000000,0.00,0.00,0.060000,0.010000,0.00,0.040000,0.00,0.080000,0.020000,0.000000,0.01,0.01,0.000000,0.010000,0.000000,0.010000,0.00,0.000000,0.020000,0.00,0.000000,0.000000,0.040000
5,Roswell,0.070000,0.00,0.000000,0.040000,0.01,0.010000,0.00,0.040000,0.01,0.050000,0.00,0.000000,0.020000,0.020000,0.000000,0.000000,0.020000,0.00,0.01,0.010000,0.020000,0.020000,0.000000,0.00,0.070000,0.010000,0.010000,0.000000,0.000000,0.03,0.010000,0.000000,0.000000,0.020000,0.000000,0.00,0.000000,0.010000,0.000000,0.050000,0.000000,0.000000,0.00,0.000000,0.010000,0.090000,0.00,0.020000,0.00,0.00,0.080000,0.000000,0.00,0.040000,0.00,0.060000,0.050000,0.000000,0.00,0.00,0.020000,0.010000,0.010000,0.010000,0.00,0.000000,0.030000,0.00,0.000000,0.000000,0.010000
6,Sandy Springs,0.100000,0.00,0.020000,0.020000,0.02,0.030000,0.00,0.030000,0.01,0.030000,0.02,0.000000,0.030000,0.000000,0.010000,0.000000,0.030000,0.00,0.00,0.020000,0.000000,0.010000,0.000000,0.00,0.050000,0.010000,0.010000,0.000000,0.020000,0.01,0.010000,0.000000,0.000000,0.020000,0.000000,0.00,0.010000,0.010000,0.000000,0.040000,0.030000,0.010000,0.01,0.000000,0.020000,0.060000,0.02,0.000000,0.01,0.00,0.050000,0.000000,0.01,0.040000,0.01,0.070000,0.000000,0.000000,0.00,0.00,0.000000,0.010000,0.010000,0.020000,0.01,0.010000,0.000000,0.02,0.000000,0.000000,0.010000
7,Suwanee,0.048193,0.00,0.012048,0.012048,0.00,0.024096,0.00,0.036145,0.00,0.000000,0.00,0.000000,0.036145,0.000000,0.000000,0.000000,0.060241,0.00,0.00,0.012048,0.000000,0.012048,0.012048,0.00,0.108434,0.048193,0.000000,0.012048,0.000000,0.00,0.024096,0.000000,0.000000,0.012048,0.000000,0.00,0.000000,0.012048,0.000000,0.036145,0.024096,0.024096,0.00,0.000000,0.012048,0.096386,0.00,0.012048,0.00,0.00,0.108434,0.012048,0.00,0.024096,0.00,0.060241,0.012048,0.012048,0.00,0.00,0.000000,0.000000,0.024096,0.024096,0.00,0.000000,0.024096,0.00,0.000000,0.000000,0.012048
8,Woodstock,0.119048,0.00,0.000000,0.035714,0.00,0.047619,0.00,0.047619,0.00,0.047619,0.00,0.011905,0.000000,0.000000,0.011905,0.000000,0.047619,0.00,0.00,0.000000,0.000000,0.035714,0.000000,0.00,0.119048,0.011905,0.011905,0.000000,0.000000,0.00,0.000000,0.011905,0.000000,0.011905,0.000000,0.00,0.000000,0.000000,0.011905,0.059524,0.011905,0.000000,0.00,0.000000,0.011905,0.083333,0.00,0.011905,0.00,0.00,0.011905,0.000000,0.00,0.023810,0.00,0.095238,0.023810,0.011905,0.00,0.00,0.011905,0.011905,0.000000,0.011905,0.00,0.011905,0.000000,0.00,0.011905,0.000000,0.011905

In [20]:
atl_thai = atl_grouped[["Cities","Thai Restaurant"]]

In [21]:
atl_thai.head()

       Cities  Thai Restaurant
0  Alpharetta         0.030000
1      Duluth         0.022222
2    Dunwoody         0.030000
3    Marietta         0.010000
4    Norcross         0.020202

In [22]:
# set number of clusters
kclusters = 3

atl_clustering = atl_thai.drop(["Cities"], 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(atl_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 2, 0, 1, 2, 0, 1, 2, 1], dtype=int32)

In [23]:
# create a new dataframe that includes the cluster as well as the top 10 venues for each neighborhood.
atl_merged = atl_thai.copy()

# add clustering labels
atl_merged["Cluster Labels"] = kmeans.labels_

In [24]:
atl_merged.rename(columns={"Cities": "City"}, inplace=True)
atl_merged.head()

         City  Thai Restaurant  Cluster Labels
0  Alpharetta         0.030000               0
1      Duluth         0.022222               2
2    Dunwoody         0.030000               0
3    Marietta         0.010000               1
4    Norcross         0.020202               2

In [25]:
# merge atlanta_grouped with atlanta_data to add latitude/longitude for each neighborhood
atl_merged = atl_merged.join(df.set_index("City"), on="City")

print(atl_merged.shape)
atl_merged.head() # check the last columns!

(10, 6)

         City  Thai Restaurant  Cluster Labels State  Latitude  Longitude
0  Alpharetta         0.030000               0    GA  34.07540  -84.29455
1      Duluth         0.022222               2    GA  34.00363  -84.14537
2    Dunwoody         0.030000               0    GA  33.92620  -84.33618
3    Marietta         0.010000               1    GA  33.95319  -84.54588
3    Marietta         0.010000               1    GA  33.95319  -84.54588

In [26]:
# sort the results by Cluster Labels
print(atl_merged.shape)
atl_merged.sort_values(["Cluster Labels"], inplace=True)
atl_merged

(10, 6)

            City  Thai Restaurant  Cluster Labels State  Latitude  Longitude
0     Alpharetta         0.030000               0    GA  34.07540  -84.29455
2       Dunwoody         0.030000               0    GA  33.92620  -84.33618
5        Roswell         0.030000               0    GA  34.02166  -84.35930
3       Marietta         0.010000               1    GA  33.95319  -84.54588
3       Marietta         0.010000               1    GA  33.95319  -84.54588
6  Sandy Springs         0.010000               1    GA  33.92483  -84.37908
8      Woodstock         0.000000               1    GA  34.10291  -84.51875
1         Duluth         0.022222               2    GA  34.00363  -84.14537
4       Norcross         0.020202               2    GA  33.94281  -84.21095
7        Suwanee         0.024096               2    GA  34.05746  -84.06475

In [27]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i+x+(i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(atl_merged['Latitude'], atl_merged['Longitude'], atl_merged['City'], atl_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' - Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

In [28]:
atl_merged.loc[atl_merged['Cluster Labels'] == 0]

         City  Thai Restaurant  Cluster Labels State  Latitude  Longitude
0  Alpharetta             0.03               0    GA  34.07540  -84.29455
2    Dunwoody             0.03               0    GA  33.92620  -84.33618
5     Roswell             0.03               0    GA  34.02166  -84.35930

In [29]:
atl_merged.loc[atl_merged['Cluster Labels'] == 1]

            City  Thai Restaurant  Cluster Labels State  Latitude  Longitude
3       Marietta             0.01               1    GA  33.95319  -84.54588
3       Marietta             0.01               1    GA  33.95319  -84.54588
6  Sandy Springs             0.01               1    GA  33.92483  -84.37908
8      Woodstock             0.00               1    GA  34.10291  -84.51875

In [31]:
atl_merged.loc[atl_merged['Cluster Labels'] == 2]

       City  Thai Restaurant  Cluster Labels State  Latitude  Longitude
1    Duluth         0.022222               2    GA  34.00363  -84.14537
4  Norcross         0.020202               2    GA  33.94281  -84.21095
7   Suwanee         0.024096               2    GA  34.05746  -84.06475

In [32]:
# install wordcloud
!conda install -c conda-forge wordcloud==1.4.1 --yes

# import package and its set of stopwords
from wordcloud import WordCloud, STOPWORDS

print ('Wordcloud is installed and imported!')

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - wordcloud==1.4.1


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    wordcloud-1.4.1            |           py36_0         324 KB  conda-forge

The following NEW packages will be INSTALLED:

    wordcloud: 1.4.1-py36_0 conda-forge


Downloading and Extracting Packages
wordcloud-1.4.1      | 324 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Wordcloud is installed and imported!

In [33]:
venues_df.head()

,City,Latitude,Longitude,VenueName,VenueLatitude,VenueLongitude,VenueCategory
0,Dunwoody,33.9262,-84.33618,Alon's Bakery & Market,33.924560,-84.336402,Bakery
1,Dunwoody,33.9262,-84.33618,The Capital Grille,33.926564,-84.340573,American Restaurant
2,Dunwoody,33.9262,-84.33618,Seasons 52,33.926519,-84.339795,New American Restaurant
3,Dunwoody,33.9262,-84.33618,McKendrick's Steak House,33.925110,-84.335980,Steakhouse
4,Dunwoody,33.9262,-84.33618,Eclipse di Luna,33.924995,-84.335298,Tapas Restaurant

In [ ]:
total_immigration = df_can['Total'].sum()
total_immigration

In [35]:
max_words = 90
word_string = ''
for country in df_can.index.values:
    # check if country's name is a single-word name
    if len(country.split(' ')) == 1:
        repeat_num_times = int(df_can.loc[country, 'Total']/float(total_immigration)*max_words)
        word_string = word_string + ((country + ' ') * repeat_num_times)
                                     
# display the generated text
word_string

NameError: name 'df_can' is not defined

In [36]:
# create the word cloud
wordcloud = WordCloud(background_color='white').generate(word_string)

print('Word cloud created!')

ValueError: We need at least 1 word to plot a word cloud, got 0.

In [37]:
# display the cloud
fig = plt.figure()
fig.set_figwidth(14)
fig.set_figheight(18)

plt.imshow(wordcloud, interpolation='bilinear')
plt.axis('off')
plt.show()

NameError: name 'plt' is not defined